/* General setup */

/* font-family: 'Bree Serif', serif;
font-family: 'PT Mono', monospace; */

html {
    font-size: 10px;
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 3.2rem;
    font-family: 'Bree Serif', serif
  }
  
  h2 {
    font-size: 2.4rem;
    font-family: 'Bree Serif', serif
  }
  
p {
  font-size: 26px;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: 'PT Mono', monospace;    
}